
.body{
     background-color: lightblue;

}
.title {
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    border-bottom-color: chartreuse;
    width: 2px;
    height: 2px;
    
}

.container {
  display: flex;
}

.side {
  flex: 1;
  text-align: center;
}

.main {
  flex: 2;
  text-align: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}