body {
  background-color:#FBFBFB;
  padding: 0;
  margin: 0;
  
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #4595EA;
    font-size: 15px;
    text-align: center;

}

.button {
  background-color: rgb(55, 247, 112);
font-family: 'Roboto', sans-serif; color: aliceblue;
  width: 90px;
  height: 30px;
  border-radius: 10px;
  border: none;

}

.search-bar {
  box-sizing: border-box;
  width: 200px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #E0E0E0;

}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content:space-evenly;
  padding: 20px;
  
}

.component {
  gap: 30px;
  grid-template-columns: 200px 200px 200px 200px;
  border:1px solid #ECECEC;
  background: #FFFFFF;
  padding: 50px;
  height: 50px;
  width: 66px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

}

.card {
display: flex;
flex-direction: column; 
text-align: center;
background: #0273EB;
color: #FFFFFF;
font-family:'Roboto', sans-serif;
padding:  10px;
width: 40px;
border-radius: 3px;

}

.headline {
font-family:'Roboto', sans-serif;
justify-content: center;
font-size: 15px;
text-align: center;

}

/*.users-ball {
border: 1px solid white;
justify-content: center;
font-size: small;
font-family: 'Roboto', sans-serif;
background: #C501E2;
padding: 6px;
border-radius: 100px;

} */
