body {
  background-color: #FBFBFB;
  padding: 0;
  margin: 0;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: rgba(69, 149, 234, 1);
  font-size: 15px;
  text-align: start;
  font-weight: bold;
  margin: 6px;

}

.button {
  background-color: #2EF8A0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.search-bar {
  box-sizing: border-box;
  width: 325px;
  height: 35px;
  border-radius: 3px;
  border:1px solid rgba(224, 224, 224, 1);
  margin: 6px;

}

.material-symbols-outlined {
 font-size: 17px;
 top: 20px;
 margin-left: -35px;
 margin-right: 20px;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
  padding: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  gap: 1rem;

}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  text-align: center;
  position: static;
  background-color: #01C4E7;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 1.25rem 1.5rem;
  border-radius: 3px;
}



.headline {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #929292;

}

.container-balls {
  display: flex;
  gap: 4px;

}
/* Colores propiedad user-ball */

.user-ball:nth-child(1) {
  background-color: #C501E2;
}

.user-ball:nth-child(2) {
  background-color: #F82D97;
}

.user-ball:nth-child(3) {
  background-color: #01C4E7;
}

.user-ball:nth-child(4) {
  background-color: #2EF8A0;

}
.user-ball:nth-child(5) {
  background-color: #FF0534;

}

.user-ball {
  display: inline;
  border: 1px solid white;
  color: #FFFFFF;
  justify-content: center;
  font-size: small;
  font-family: 'Roboto', sans-serif;
  padding: 12px;
  border-radius: 100px;
  font-weight: bold;

}

.botton-remove {
  all: unset;
  margin-top: 1rem;
  margin-left: auto;
  color: red;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;

}

